@import url('https://fonts.googleapis.com/css?family=Hind|Work+Sans');

header{background-color: #657f38; font-family: 'Work Sans', sans-serif;}
body{font-family: 'Hind', sans-serif; background-color: white;}
h1, h2, h3, h4, h5, h6{font-family: 'Work Sans', sans-serif;}
h2{font-size: 1.35rem;}

.logo {text-align: center;}
.menu {font-size: 1.4rem;}
.link{color: white;}
.link-footer{color: black;}
.yelp{text-align: center;}

footer{text-align: center;}
